.goal {
	@apply py-20 pb-14 px-5;
	&__items {
		@apply mt-20 space-y-5;
		h2 {
			@apply text-slate-700 font-bold text-xl;
		}
		p {
			@apply pt-10 text-slate-700/95;
		}
	}
}

.item__img {
	@apply flex flex-col items-start justify-center max-w-[650px] min-h-[450px] md:max-w-[350px] md:min-h-[350px] sm:min-h-[200px];
	background: url("../../../assets/09.png") center 0 no-repeat;
	background-size: cover;
	h1 {
		@apply text-white uppercase pl-8;
	}
	&_two {
		@apply flex flex-col items-start justify-center max-w-[650px] min-h-[450px] md:max-w-[350px] md:min-h-[350px] sm:min-h-[200px];
		background: url("../../../assets/08.png") center 0 no-repeat;
		background-size: cover;
		h1 {
			@apply text-white uppercase pl-8;
		}
	}
	&_three {
		@apply flex flex-col items-start justify-center max-w-[650px] min-h-[450px] md:max-w-[350px] md:min-h-[350px] sm:min-h-[200px];
		background: url("../../../assets/07.png") center 0 no-repeat;
		background-size: cover;
		h1 {
			@apply text-white uppercase pl-8;
		}
	}
}
