.layout {
	background: url("../../assets/01.png") 0 0 no-repeat;
	background-position: center;
	background-size: cover;
}

.layout__business {
	background: url("../../assets/02.png") 0 0 no-repeat;
	background-position: center;
	background-size: cover;
}

.layout__sustainability {
	background: url("../../assets/06.png") center 0 no-repeat;
	background-size: cover;
}
